<div class="container">
  <h2>Ma cave</h2>
  <div class="row justify-content-center">
    <div class="beer-grid">
      <% 18.times do %>
        <div class="row">
            <div class="beer-card">
              <img src="https://images.unsplash.com/photo-1521572008054-962cefc90ce7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80" alt="">
              <h5>Nom bière</h5>
              <p>Nom brasserie</p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
