<div class="container pb-5">
  <h2 class="reco-title pb-2">Ma cave</h2>
    <div class="beer-grid">
      <% @beers.each do |beer| %>
        <div class="beer-card">
          <%= link_to beer_path(beer) do %>
            <%= image_tag beer.url_image %>
            <div class="recommendation-card-info">
              <h5><%= beer.name %></h5>
              <p><%= beer.brewery %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
