<div class="bottom-nav fixed-bottom">
  <ul class="list-items">
    <%= link_to favourites_path ,class: "item" do %>
      <i class="fas fa-heart white"></i>
      <li class="li-item">Mes bières</li>
    <% end %>
    <%= link_to new_scan_path, class: "item" do %>
      <div class="scan">
        <i class="fas fa-camera"></i>
      </div>
    <% end %>
    <%= link_to favourites_path ,class: "item" do %>
      <i class="fas fa-compass"></i>
      <li class="li-item">Découvrir</li>
    <% end %>
  </ul>
</div>
