<div class="bottom-nav fixed-bottom">
  <ul class="list-items">
    <%= link_to favourites_path ,class: "item sign_in_required #{active_class("favourites_index")}" do %>
      <i class="fas fa-heart"></i>
      <li class="li-item">Ma cave</li>
    <% end %>
    <%= link_to new_scan_path, class: "item" do %>
      <div class="scan">
      <i class="fas fa-camera"></i>
      </div>
    <% end %>
    <%= link_to recommendations_path ,class: "item sign_in_required #{active_class("recommendations_index")}" do %>
      <i class="fas fa-compass active"></i>
      <li class="li-item">Découvrir</li>
    <% end %>
  </ul>
</div>

