<div class="tab-bar fixed-bottom w-100">
  <ul class="list-group list-group-horizontal d-flex justify-content-between ">
    <li class="list-group-item">Mes bières</li>
    <li class="list-group-item">Scan</li>
    <li class="list-group-item">Découvrir</li>
  </ul>
</div>
