<h1>Prenez une photo</h1>


<%= form_with(url: scans_path, method: "POST", local: true, multipart: true) do %>
  <%= label_tag(:image, "Image de bière") %>
  <%= file_field_tag(:image) %>
  <%= submit_tag("Scanner") %>
<% end %>

