<h1>Prenez une photo</h1>
<div id="loading"></div>
<video id="video"></video>
<button id="startbutton">Prendre une photo</button>
<canvas id="canvas" class="d-none"></canvas>


<%= form_with(url: scans_path, method: "POST", local: true, multipart: true, id: 'form-scan') do %>

  <%= hidden_field_tag(:image) %>
<% end %>

