<h1>Prenez une photo</h1>

<h2><%= link_to "Test appel action Scan/create", scans_path, method: :post  %></h2>
<br>
<br>
  <% if @scan_results %>
    <% @scan_results.each do |s| %>
  <ul>
      <li><%= s %></li>
  </ul>

    <% end %>
<% end %>
