<h1>Prenez une photo</h1>

<video id="video"></video>
<button id="startbutton">Prendre une photo</button>
<canvas id="canvas" class="d-none"></canvas>


<%= form_with(url: scans_path, method: "POST", local: true, multipart: true, id: 'form-scan') do %>

  <%= hidden_field_tag(:image) %>
<% end %>

<div>
  <% if @scan_results %>
    <% @scan_results.each do |s| %>
      <ul>
        <li><%= s %></li>
      </ul>
    <% end %>
  <% end %>
</div>
