<div class="d-flex justify-content-between align-items-center">
  <i class="fas fa-arrow-left"></i>
  <h3>Boont Amber Ale</h3>
  <i class="far fa-heart"></i>
  <!-- <i class="fas fa-heart"></i> -->
</div>
<div>
  <%= image_tag "https://media.biernard.com/bieres/temp/1996-13880-v4_product_img.jpg" %>
  <div>
    <h1>Boont Amber Ale</h1>
    <p><strong>Brasserie:</strong> Anderson Valley Brewing Co.</p>
    <p><strong>Style:</strong> Amber Ale</p>
    <p><strong>Pays:</strong> Etats-Unis</p>
    <p><strong>Alcool:</strong> 10°</p>
    <p><strong>Couleur:</strong> Amber</p>
  </div>
</div>
<div>
  <h3>Description</h3>
  <p>La bière Boont Amber Ale de la brasserie Anderson Valley Brewing Co., Etats-Unis.</p>
  <h3>Saveurs</h3>
  <p><span>Malt</span><span>Caramel</span></p>
</div>



<!--       "_id": "5bc733719a43d90d4a410a8b",
      "name": "Boont Amber Ale",
      "description": "La bière Boont Amber Ale de la brasserie Anderson Valley Brewing Co., Etats-Unis.",
      "meta_title": "Anderson Valley Boont Amber Ale | Biernard Biérologue Digital",
      "meta_description": "La bière Anderson Valley Boont Amber Ale de la brasserie Anderson Valley Brewing Co., Etats-Unis !",
      "enabled": true,
      "main_image": "1996-13880-v4_product_img.jpg",
      "effervescentAvg": 51,
      "bitterness": 40,
      "sweetness": 40,
      "alcohol_degree": 5.8,
      "flavors_tags": ["malt", "caramel"],
      "slug": "anderson-valley-boont-amber-ale",
      "brewer": "Anderson Valley Brewing Co.",
      "country": "Etats-Unis",
      "effervescent": "2.3-2.8 vols",
      "url_image": "https://media.biernard.com/bieres/temp/1996-13880-v4_product_img.jpg",
      "code_ean": "",
      "short_lived": false,
      "style": "Amber Ale",
      "power": 10,
      "acidity": 6.7,
      "color": "Amber" -->
