.beer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.beer-grid .row {
  box-shadow: 2px 2px 10px rgba(78, 74, 74, 0.2);
  border-radius: 5px;
}

.beer-grid .row p {
  color: #848484
}

.beer-card img {
  height: 170px;
  width: 140px;
}

.beer-card h5, p {
  padding-top: 3px;
  padding-left: 4px;
  line-height: 1;
}
