.beer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
}

.beer-card {
  width: 170px;
  background: white;
  border-radius: 7px;
  box-shadow: 2px 2px 10px rgba(78, 74, 74, 0.2);
}

.beer-card img {
  height: 200px;
  width: 170px;
  padding: 15px;
  object-fit: cover;
}

.beer-card h5,
.beer-card p {
  padding-left: 8px;
  font-size: medium;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 250px;
  // text-align: center;
  font-size: 20px;
}

.beer-card h5{
  line-height: 0.9;
}

.beer-card p {
  color: #848484;
  line-height: 1;
}
