.container {
  background: #fafcff;
}

.reco-title {
  padding-top: 16px;
  text-align: center;
  line-height: 0.4;
  font-size: 40px;
}

.reco-description {
  text-align: center;
  font-size: larger;
}

.row-title {
  font-size: 24px;
  margin-top: 10px;
}

.recommendation-row {
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar { width: 0 !important };
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
}

.recommendation-row .full {
  grid-column: 1 / -1;
}

.recommendation-card {
  margin: 6px;
  height: 257.8px;
  flex: 0 0 200px;
  border: solid 0.4px #C5D2F1;
  border-radius: 7px;
  box-shadow: 2px 2px 10px rgba(78, 74, 74, 0.2);
  background: white;
  position: relative;
  text-align: center;
}

.recommendation-card-info {
  background: white;
  height: 55px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.recommendation-card img {
  height: 200px;
  width: 170px;
  padding: 15px;
}

.recommendation-card a {
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.recommendation-card h5,
.recommendation-card p {

  padding-left: 8px;
  line-height: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 250px;
  font-size: 15px;
}

.recommendation-card h5 {
  padding-top: 10px;
}
.recommendation-card p {
  color: #848484;
  line-height: 0.9;
}

.link_to {
  text-decoration: none;
  display: none;
}

a[href*="10981"] img{
object-fit:cover;
}
