.recommendation-row {
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar { width: 0 !important }
}

.recommendation-card, {
  margin: 6px;
  padding-top: 13px;
  height: 267.8px;
  width: 170px;
  background-color: #F9FBFF;
  border: solid 0.4px #C5D2F1;
  border-radius: 7px;
}

.recommendation-card img {
  height: 200px;
  width:170px;
}

.recommendation-card h5,
.recommendation-card p {
  padding-left: 4px;
  line-height: 1;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 250px;
}

.recommendation-card h5 {
  padding-top: 13px;
}
.recommendation-card p {
  color: #848484
}

.carousel,
.carousel img {
  height: 200px;
  width: 170px;
  border-radius: 7px;
}
