i.fa-heart {
  color: $gray;
  opacity: 0.4;

  &.fas {
    color: $yellow;
    opacity: 1;
  }
}

.simple_form.new_favourite,
.simple_form.edit_favourite {
  div {
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
  }
  button:focus {
    outline: none;
  }
}
