#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15));
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-gif {
  background-image: asset_url("white-loading.gif");
  background-size: cover;
  width: 75px;
  height: 75px;
  z-index: 101;
}
