
.bottom-nav {
  background-color: $blue;
  height: 76px;
  position: fixed;
  // padding-top: 16px;
  // padding-bottom: 16px;
}


.list-items{
  color: white;
  list-style:none;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  margin: 0;
}

i.fas.fa-heart.white {
    color: white;
    opacity: 1;
}

a.item{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  i {
    font-size: 28px;
    margin-bottom: 5px;
  }
  li {
    font-size: 14px;
  }
  .scan {
    width: 88px;
    height:88px;
    border-radius: 50%;
    background: $blue;
    background: radial-gradient(circle, rgba(15,34,63,1) 34%, rgba(34,76,140,1) 100%);
    border: solid .5px #CED5E3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 22px;
    i {
      font-size: 40px;
    }
  }
  &:hover {
    text-decoration: none;
  }
}
