
.bottom-nav {
  background: linear-gradient(0deg, #F7AB59 51.56%, #F7CB59 100%);
  height: 76px;
  position: fixed;
  // padding-top: 16px;
  // padding-bottom: 16px;
}


.list-items{
  color: white;
  list-style:none;
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  margin: 0;
}

i.fas.fa-heart.white {
    color: white;
    opacity: 0.7;
}

i.fas.fa-heart.active {
    color: white;
    opacity: 1;
}

i.fas.fa-compass {
    color: white;
    opacity: 0.7;
}

i.fas.fa-compass.active {
    color: white;
    opacity: 1;
}

i.fas.fa-camera.active {
    color: $blue;
    opacity: 1;
}

a.item{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 70px;
  i {
    font-size: 28px;
    margin-bottom: 5px;
  }
  li {
    font-size: 14px;
  }
  .scan {
    width: 88px;
    height:88px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F7AB59 51.56%, #F7CB59 100%);
    border: solid .5px #CED5E3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 22px;
    i {
      font-size: 40px;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

a.item.active {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $blue;
  width: 70px;
  // text-shadow : 0px 0px 10px rgba(255,255,255,0.2);
  i {
    font-size: 28px;
    margin-bottom: 5px;

  }
  li {
    font-size: 14px;
    color: white;
    font-weight: bolder;

  }
  .scan {
    width: 88px;
    height:88px;
    border-radius: 50%;
    background: $yellow;
    background: radial-gradient(circle, rgba(15,34,63,1) 34%, rgba(34,76,140,1) 100%);
    border: solid .5px #CED5E3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 22px;
    i {
      font-size: 40px;
    }
  }
  &:hover {
    text-decoration: none;
  }
}
