#video {
  width: 100vw;
  height: calc(100vh - 132px);
}

#startbutton {
  color: white;
  i {
    font-size: 36px;
  }
}

button#startbutton {
  width: 40px;
  height: 40px;
}

.navbar-scan {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:132px;
  background: linear-gradient(0deg, #F7AB59 51.56%, #F7CB59 100%);
  border: solid .5px #CED5E3;
  position: fixed;
  border: none;
  z-index: 1000;
  i {
    font-size: 40px;
    color: white;
  }
  div {
    width: 40px;
    height: 40px;
  }
}
