.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  i {
    font-size: 36px;
  }
}
